.advantages{
	background-image: url('../img/advantages.jpg');
	background-repeat: no-repeat;
	padding-top: 65px;
	padding-bottom: 65px;
	.heading_advantages{
		text-align: center;
		margin-bottom: 95px;
		h2{
			text-transform: uppercase;
			position: relative;
			display: inline-block;
			padding: 15px 40px;
			text-align: center;
			color: #fff;
		}
	}

	.advantages_left{
		position: relative;
		left: 21%;
		display: inline-block;
		width: 24%;
		.advantages_item{
			display: flex;
			margin-bottom: 45px;
			img{
				margin-bottom: auto;
				margin-right: 30px;
			}

			h5{
				font-style: normal;
				font-weight: 500;
				color: $orange;
			}

			p{
				color: #fff;
				height: 45px;
				overflow: hidden;
				margin-bottom: 0;
			}
		}
	}

	.advantages_right{
		position: relative;
		left: 23%;
		display: inline-block;
		width: 24%;
		.advantages_item{
			display: flex;
			margin-bottom: 45px;
			img{
				margin-bottom: auto;
				margin-right: 30px;
			}

			h5{
				font-style: normal;
				font-weight: 500;
				color: $orange;
			}

			p{
				color: #fff;
				height: 45px;
				overflow: hidden;
				margin-bottom: 0;
			}
		}
	}
}




@media (max-width: 1600px) {
  
}



@media (max-width: 1440px) {
  
}



@media (max-width: 1366px) {
  
}



@media (max-width: 1280px) {
  
}



@media (max-width: 1200px) {
  
}


@media (max-width: 992px) {
  
}



@media (max-width: 900px) {
  
}



@media (max-width: 800px) {
  
}



@media (max-width: 768px) {
  
}


@media (max-width: 767px) {
  .leftFilters{
		display: none;
	}
	.newsPage .news_right .news_list{
		margin-bottom: 40px;
	}
}



@media (max-width: 600px) {
  
}



@media (max-width: 576px) {
  
}



@media (max-width: 480px) {
  
}



@media (max-width: 425px) {
  
}


@media (max-width: 414px) {
  
}



@media (max-width: 375px) {

}



@media (max-width: 360px) {
  
}


@media (max-width: 320px) {

}



