.news{
	padding-top: 95px;
	padding-bottom: 85px;
	.heading_news{
		text-align: center;
		h2 {
			text-transform: uppercase;
			position: relative;
			display: inline-block;
			padding: 15px 40px;
			margin-bottom: 50px;
		}
	}

	.news_item_01{
		margin-bottom: 50px;
		img{
			width: 100%;
			margin-bottom: 25px;
		}

		h5{
			height: 55px;
			overflow: hidden;
		}

		p{
			height: 45px;
			overflow: hidden;
		}

		a{
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
			line-height: 19px;
			text-align: center;
			color: #fff;
			background: $orange;
			padding: 10px 55px;
			border-radius: 3px;
			display: inline-block;

			&:hover {
				background: $orange-hover;
			}
		}
	}

	.news_item_02{
		img{
			width: 100%;
			margin-bottom: 35px;
		}

		h5{
			height: 55px;
			overflow: hidden;
		}

		p{
			height: 45px;
			overflow: hidden;
		}

		a{
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
			line-height: 19px;
			text-align: center;
			color: #fff;
			background: $orange;
			padding: 10px 55px;
			border-radius: 3px;
			display: inline-block;

			&:hover {
				background: $orange-hover;
			}
		}
	}

	.news_link{
		text-align: center;
		margin-top: 20px;
		a{
			font-style: normal;
			font-weight: bold;
			font-size: 22px;
			line-height: 26px;
			text-align: center;
			color: #000000;

			&:hover {
				color: $orange;
			}
		}
	}
}




@media (max-width: 1600px) {
  
}



@media (max-width: 1440px) {
  
}



@media (max-width: 1366px) {
  
}



@media (max-width: 1280px) {
  
}



@media (max-width: 1200px) {
  
}


@media (max-width: 992px) {
  
}



@media (max-width: 900px) {
  
}



@media (max-width: 800px) {
  
}



@media (max-width: 768px) {
  
}


@media (max-width: 767px) {
  .leftFilters{
		display: none;
	}
	.newsPage .news_right .news_list{
		margin-bottom: 40px;
	}
}



@media (max-width: 600px) {
  
}



@media (max-width: 576px) {
  
}



@media (max-width: 480px) {
  
}



@media (max-width: 425px) {
  
}


@media (max-width: 414px) {
  
}



@media (max-width: 375px) {

}



@media (max-width: 360px) {
  
}


@media (max-width: 320px) {

}


