.heading_aboutPage{
	text-align: center;
	h2{
		text-transform: uppercase;
		position: relative;
		display: inline-block;
		padding: 15px 40px;
		margin-bottom: 75px;
	}
}

.about_fulldesk{
	padding-bottom: 95px;
	img{
		width: 100%;
	}

	h5{
		margin-bottom: 0px;
	}

	p{
		margin-bottom: 15px;
		span{
			font-style: normal;
			font-weight: bold;
			font-size: 22px;
			line-height: 26px;
		}
	}
}




@media (max-width: 1600px) {
  
}



@media (max-width: 1440px) {
  
}



@media (max-width: 1366px) {
  
}



@media (max-width: 1280px) {
  
}



@media (max-width: 1200px) {
  
}


@media (max-width: 992px) {
  
}



@media (max-width: 900px) {
  
}



@media (max-width: 800px) {
  
}



@media (max-width: 768px) {
  
}


@media (max-width: 767px) {
  .leftFilters{
		display: none;
	}
	.newsPage .news_right .news_list{
		margin-bottom: 40px;
	}
}



@media (max-width: 600px) {
  
}



@media (max-width: 576px) {
  
}



@media (max-width: 480px) {
  
}



@media (max-width: 425px) {
  
}


@media (max-width: 414px) {
  
}



@media (max-width: 375px) {

}



@media (max-width: 360px) {
  
}


@media (max-width: 320px) {

}


